[Unit]
Description=Spelling and grammar checking server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=java -cp languagetool-server.jar org.languagetool.server.HTTPServer --port __PORT__ --config __FINALPATH__/languagetool.conf
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
